
		body, section, div, figure {
			margin:0;
		}
		#backdrop {
			background-color:blue;
			width:100%;
			height:600px;
			margin-top:0px;

background: #7db9e8; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwNzVkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #7db9e8 0%, blue 50%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(50%,#0075d6), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7db9e8 0%,blue 50%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7db9e8 0%,#0075d6 50%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7db9e8 0%,#0075d6 50%,#7db9e8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7db9e8 0%,blue 50%,#7db9e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#7db9e8',GradientType=0 ); /* IE6-8 */

		}
		#containerPositioner {
			width:100%;
			height:157px;
			position:relative;
		}
		.container {
			width:780px;
			height:280px;
			margin:0px auto;
			position:relative;
			perspective:1200px;
		}
		#wrap {
			width:100%;
			height:100%;
			position:absolute;
			transform-style:preserve-3d;
			transition:transform 1s;
		}
		#wrap figure {
			width:780px;
			height:280px;
			margin-left:0px;
			display:block;
			position:absolute;
			background-position:center;
		}
		#wrap #heroPic1 {
			-ms-transform:translateZ(242.49px)rotateY(0deg);
			transform:translateZ(242.49px)rotateY(0deg);
			background-image:url('img/image1.jpg');
		}
		#wrap #heroPic2 {
			-ms-transform:translateZ(121.24px)translateY(210px)rotateX(300deg);
			transform:translateZ(121.24px)translateY(210px)rotateX(300deg);
			background-image:url('img/image2.jpg');
		}
		#wrap #heroPic3 {
			-ms-transform:translateZ(-121.24px)translateY(210px)rotateX(240deg);
			transform:translateZ(-121.24px)translateY(210px)rotateX(240deg);
			background-image:url('img/image3.jpg');
		}
		#wrap #heroPic4 {
			-ms-transform:translateZ(-242.49px)translateY(0px)rotateX(180deg);
			transform:translateZ(-242.49px)translateY(0px)rotateX(180deg);
			background-image:url('img/image4.jpg');
		}
		#wrap #heroPic5 {
			-ms-transform:translateZ(-121.24px)translateY(-210px)rotateX(120deg);
			transform:translateZ(-121.24px)translateY(-210px)rotateX(120deg);
			background-image:url('img/image5.jpg');
		}
		#wrap #heroPic6 {
			-ms-transform:translateZ(121.24px)translateY(-210px)rotateX(60deg);
			transform:translateZ(121.24px)translateY(-210px)rotateX(60deg);
			background-image:url('img/image6.jpg');
		}
		#wrap.show1 {
			transform:rotateX(0deg);
		}
		#wrap.show2 {
			transform:rotateX(60deg);
		}
		#wrap.show3 {
			transform:rotateX(120deg);
		}
		#wrap.show4 {
			transform:rotateX(180deg);
		}
		#wrap.show5 {
			transform:rotateX(240deg);
		}
		#wrap.show6 {
			transform:rotateX(300deg);
		}
		
		.show {
			width:578px;
			margin-top:90px;
			margin-left:auto;
			margin-right:auto;
			transform:translateZ(243px);
		}
		.show div {
			width:30px;
			height:30px;
			border:solid 1px;
			border-radius:15px;
			background-color:rgb(130,130,130);
			float:left;
			margin-left:32px;
			margin-right:32px;
		}